/**********************************************
                Global styles
**********************************************/
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  background-color: #fff;
  line-height: 1.4;
  font-family: 'Roboto Mono', monospace;
  font-size: 35px;
  margin: 0;
  padding-top: 100px;
  background-image:url(img/grad3.jpg);
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  font-size: 30px;
  margin: 0;
}
h1 a {
  color: #F7921E;
}
a {
  text-decoration: none;
  color: #58585A;
}
a:hover {
  color: white;
}
/**********************************************
                    Layout
**********************************************/
.container {
  width: 960px;
  margin: 0 auto;
  height: 500px;
  _position: absolute;
}
img{
  width: 150px;
  height: 150px;

}
.col-1-1, .col-1-2, .col-1-3{
  float: left;
  padding: 0 10px;
  _outline: 5px dotted pink;
  height: 730px;
  margin: 0 auto;
  border: 2px double;
  text-align: center;
  overflow:scroll;
  opacity: .8;
}

.col-1-1{
  width: 33.3333%;
  background-image: url(img/grad2.jpg);
  background-repeat: no-repeat;
  _border-style: double;
  color: white;
  _min-height: 300px;

}
.col-1-2{
  width: 33.3333%;
  background-image: url(img/apple.jpeg);
  background-repeat:repeat;
  background-position:center;
  _background-attachment: fixed;
  _background-size:auto;
  text-align: center;
}
.col-1-3{
  width: 33.3333%;
  background-image: url(img/woh1.png);
  background-repeat:no-repeat;
  background-position: top;
  background-attachment:scroll;
  background-size:auto;
  color: black;
  background-color: yellow;


}
.container1{
  width: 100%;
  height: 1200px;
}
.container2{
  background-color: white;
  opacity: .8;
  padding: 15px;
  text-align: center;
}
.forme{
  width:700px;
  height: 500px;
  margin: 0 auto;
  background-color: white;
  outline-color: 3px dotted red;
  border-style: groove;
  text-align: center;
  border: 15px double #D4DB39;
  border-radius: 19px;
  text-align: center;
}
.name{
  text-align: center;
  color: white;
}
.name1{
  margin: 0 0 300px 0;
}
/**********************************************
                Specific styles
**********************************************/
.main-header {
  _background-color: #466BB4;
  position: fixed;
  top: 0;
  left: 0;
  width: 960px;
  height: 100px;

}
.logo {
  position: fixed;
  top: 25px;
  left: 20px;
}
nav ul {
  float: right;
}
nav ul li {
  float: left;
  width: 120px;
  text-align: center;
  position: relative;
  margin: 0 100px;
  padding: 30px 50px 0 0;
}
nav ul li a {
  display: block;
  line-height: 40px;
  text-transform: uppercase;
}
nav ul li:active {
  top: 2px;
}

/**********************************************
                Helper classes
**********************************************/
.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
